* {
  /* border: .5px solid red; */
}
html, body {
  display: grid;
  margin: 0; 
  min-height: 100vh;
  max-width: 100%;
  font-family: 'MedievalSharp', cursive;
  overflow-x: hidden;
  overflow-y: scroll;
}
h1, h2, h3, h4, h5 {
  text-align: center;
  margin: 2px auto;
  color: whitesmoke;
  display: block;
}
h1 {
  font-size: 32px;
  font-weight: bold;
}
h2 {
  font-size: 24px;
  font-weight: medium;
}
h3{
  font-size: 20px;
  font-weight: medium;
}
header, footer {
  margin: 0 auto;
  align-self: center;
  text-align: center;
  position: relative;
  /* background-color: transparent; */
  background-color: rgba(0, 0, 0, 0.69);
  flex-wrap: wrap;
}
footer {
  position: sticky;
  margin-top: 15%;
  bottom: 0;
  width: 100%;
}
nav, ol, ul, li, a {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}
nav {
  padding: 1rem;
}
.nav {
  margin: 10px auto;
}
#login {
  display: flex;
  margin: 20px auto;
  justify-content: space-around;
  width: 400px;
  flex-direction: column;
  padding: 1rem;
}
#login-options {
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
}
.login-input {
  width: 300px;
  height: 20px;
  margin: 10px auto;
  border: 1px solid darkgrey;
  border-radius: 19%;
  box-shadow: inset 2px 3px 3px grey;
  text-align: center;
}
input {
  border: 2px solid grey;
  border-style: inset;
  border-radius: 35%;
  height: 30px;
  text-align: center;
  color: rgb(33, 0, 31);
  font-weight: normal;
  background-color: lightgrey;
  margin: 10px auto;
  display: block;
}
label {
text-align: center;
color: white;
text-transform: uppercase;
}
#playerGen, #create-user {
  justify-content: space-evenly;
  height: auto;
  max-width: 80%;
  padding: .5rem;
  margin: 2rem auto;
  background-color: rgba(30, 143, 255, 0.693);
  border-radius: 15%;
  display: none;
}
#playerGen>input {
  width: auto;
  max-width: auto;
}

@media (max-width: 360px){
  nav, .group, .choice-buttons, .fight-buttons {
    flex-flow: column;
    justify-content: space-between;
  }
}